
@import 'mixins/common.less';

@import 'components/login.less';

@import 'components/header.less';
@import 'components/sidebar.less';
@import 'components/timeline.less';
@import 'components/incident.less';
@import 'components/background.less';
@import 'components/message.less';
@import 'components/border.less';

html,
body {
  .full-width;
  .full-height;

  padding: 0;
  margin: 0;

  background: #E4F3F8;

  .default-font(16px);
}

input,
textarea,
button,
select {

  border: none;
  border-radius: 0;
  margin: 0;
  outline: none;
  resize: none;

  .default-font(16px);
  .box-sizing(border-box);
  .appearance(none);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  .default-font(16px);
}

* {
  .box-sizing(border-box);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
}
