.DS_Store
/node_modules
application.log
public/scripts/application.js
public/scripts/application.min.js
public/scripts/views
public/style/*.css
/test/scripts/production/create.user.sh
newrelic_agent.log
dump.rdb
