
@header-height: 85px;

#header-container {
  .hidden;

  position: fixed;
  top: 0;
  padding: 0 20px;

  width: 100%;
  height: @header-height;
  z-index: 10;

  background-color: #77C4DB;
  opacity: 0.97;

  a {
    display: inline-block;
    width: 20px;
    font-size: 24px;
    color: #E4F3F8;
    text-align: center;

    &:hover {
      color: white;
    }
  }

  .fa-bell {
    color: #FF5A4B;
  }

  .header {

    line-height: 80px;

    .menu {
      display: inline-block;
      margin-right: 35px;
    }

    .brand {

      position: absolute;
      top: 12px;
      right: 0;
      left: 0;
      margin: auto;

      width: 300px;
      text-align: center;

      span {
        display: block;
        line-height: 30px;
        font-size: 20px;
        color: #FFF;
        text-transform: uppercase;
      }
    }

    .actions {
      display: inline-block;
      float: right;

      a {
        margin: 0 0 0 40px;
        text-align: center;
      }

      .alert {
        color: #FF5A4B;
      }
    }
  }

  .menu,
  .actions {
    i {
      .transition;
    }
  }

  .fa-spin {
    color: #FF5A4B;
    pointer-events: none;
  }
}
