
@header-height: 80px;
@icon-width: 50px;

#header-container {
  .hidden;

  position: fixed;
  top: 0;
  padding: 0 10px;

  width: 100%;
  height: @header-height;
  z-index: 10;

  background-color: #77C4DB;
  opacity: 0.97;

  a {
    display: inline-block;
    width: 20px;
    font-size: 24px;
    color: #E4F3F8;
    text-align: center;

    &:hover {
      color: white;
    }
  }

  .fa-bell {
    color: #FF5A4B;
  }

  .header {
    position: relative;
    height: @header-height;
    line-height: @header-height;
    vertical-align: middle;

    .backbtn,
    .menu {
      display: inline-block;
      height: @header-height;

      a {
        .transition;
        display: inline-block;
        width: @icon-width;

        &:hover {
          background-color: lighten(#77C4DB, 10%);
        }
      }
    }

    .brand {
      display: none;

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;

      padding: 10px;
      width: 300px;
      text-align: center;

      @media (min-width: 600px) {
        & {
          display: inline-block;
        }
      }

      span {
        display: block;
        line-height: 30px;
        font-size: 20px;
        color: #FFF;
        text-transform: uppercase;
      }
    }

    .actions {
      display: inline-block;
      float: right;
      height: @header-height;

      a {
        .transition;
        display: inline-block;
        width: @icon-width;

        &:hover {
          background-color: lighten(#77C4DB, 10%);
        }
      }

      .alert {
        color: #FF5A4B;
      }
    }
  }

  .menu,
  .actions {
    i {
      .transition;
    }
  }

  .fa-spin {
    color: #FF5A4B;
    pointer-events: none;
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
  }
}
