
@thumbnail-margin: .3%;


#incident-container {
  .hidden;

  padding: .3% .3% 140px .3%;
  margin: 0 auto;

  margin-top: 50px;

  .image {
    display: inline-block;
    margin: @thumbnail-margin;

    a {
      display: block;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .image.motion {
    a {
      img {
        opacity: 0.4;
      }
    }
  }

  @media (min-width: 320px) {
    .image {
      width: (100 - 2 * 2 * @thumbnail-margin) / 2;
      height: (100 - 2 * 2 * @thumbnail-margin) / 2 / 4 * 3;
    }
  }


  @media (min-width: 480px) {
    .image {
      width: (100 - 3 * 2 * @thumbnail-margin) / 3;
      height: (100 - 3 * 2 * @thumbnail-margin) / 3 / 4 * 3;
    }
  }

  @media (min-width: 800px) {
    .image {
      width: (100 - 4 * 2 * @thumbnail-margin) / 4;
      height: (100 - 4 * 2 * @thumbnail-margin) / 4 / 4 * 3;
    }
  }

  @media (min-width: 1280px) {
    .image {
      width: (100 - 5 * 2 * @thumbnail-margin) / 5;
      height: (100 - 5 * 2 * @thumbnail-margin) / 5 / 4 * 3;
    }
  }

  @media (min-width: 1680px) {
    .image {
      width: (100 - 6 * 2 * @thumbnail-margin) / 6;
      height: (100 - 6 * 2 * @thumbnail-margin) / 6 / 4 * 3;
    }
  }

  @media (min-width: 1920px) {
    .image {
      width: (100 - 7 * 2 * @thumbnail-margin) / 7;
      height: (100 - 7 * 2 * @thumbnail-margin) / 7 / 4 * 3;
    }
  }

  @media (min-width: 2560px) {
    .image {
      width: (100 - 8 * 2 * @thumbnail-margin) / 8;
      height: (100 - 8 * 2 * @thumbnail-margin) / 8 / 4 * 3;
    }
  }
}
