
@thumbnail-margin: .3%;


#incident-container {
  .hidden;

  padding: 80px 0 50px 0;
  margin: 0 auto;

  background: #E4F3F8;
  height: 100vh;
  line-height: 30px;

  &.blur {
    .transition(.5s);
    .blur(1px);
  }

  &.shown {
    opacity: 0;
  }

  &.fadeIn {
    opacity: 1;
  }

  .header {
    position: relative;
    margin-right: 220px;
    padding: 20px 30px;
    color: #4B676F;
    background-color: #C9E7F1;
    height: 230px;
    overflow: scroll;

    @media (min-width: 800px) {
      & {
        margin-right: 320px;
      }
    }

    @media (min-width: 1280px) {
      & {
        margin-right: 420px;
      }
    }

    .address,
    .contact {
      display: block;

      span {
        display: inline-block;
        margin-right: 7px;
      }

      margin-bottom: 5px;

      .name {
        text-transform: capitalize;
      }
    }

    .address {
      font-size: 28px;
    }

    .contact {
      font-size: 18px;
    }

    .actions {
      position: absolute;
      left: 30px;
      bottom: 10px;
    }

    .actions button {
      display: inline-block;
      margin: 0 15px 10px 0;
      padding: 0;
      line-height: 35px;
      min-width: 100px;
      border-radius: 3px;
      .default-font(12px);
      text-align: center;
      text-transform: uppercase;
      background-color: #FFF;

      &.disabled {
        color: white;
        background-color: #FF5A4B;
      }

      &:hover {
        color: white;
        background-color: #FF5A4B;
      }
    }

    .CALL_OWNER {

      &:before {
        content: 'Call Owner';
      }
    }

    .CALL_POLICE {

      &:before {
        content: 'Call Police';
      }
    }
  }

  .event {
    .transition;

    position: absolute;
    top: 310px;
    left: 0;
    right: auto;
    bottom: 0;

    overflow: scroll;

    margin-right: 220px;
    padding: 20px;

    &.shown {
      opacity: 0;
    }

    &.fadeIn {
      opacity: 1;
    }

    .event-attr {
      line-height: 20px;
      margin-bottom: 5px;

      label {
        display: inline-block;
        margin-right: 10px;
        width: 50px;
        text-align: right;
      }
    }

    .snapshot {
      display: inline-block;
      margin: @thumbnail-margin;

      img {
        width: 100%;
      }
    }

    @media (min-width: 320px) {
      .snapshot {
        width: (100 - 2 * 2 * @thumbnail-margin) / 2;
        height: (100 - 2 * 2 * @thumbnail-margin) / 2 / 4 * 3;
      }
    }


    @media (min-width: 480px) {
      .snapshot {
        width: (100 - 3 * 2 * @thumbnail-margin) / 3;
        height: (100 - 3 * 2 * @thumbnail-margin) / 3 / 4 * 3;
      }
    }

    @media (min-width: 800px) {

      & {
        margin-right: 320px;
      }

      .snapshot {
        width: (100 - 4 * 2 * @thumbnail-margin) / 4;
        height: (100 - 4 * 2 * @thumbnail-margin) / 4 / 4 * 3;
      }
    }

    @media (min-width: 1280px) {

      & {
        margin-right: 420px;
      }

      .snapshot {
        width: (100 - 5 * 2 * @thumbnail-margin) / 5;
        height: (100 - 5 * 2 * @thumbnail-margin) / 5 / 4 * 3;
      }
    }

    @media (min-width: 1680px) {
      .snapshot {
        width: (100 - 6 * 2 * @thumbnail-margin) / 6;
        height: (100 - 6 * 2 * @thumbnail-margin) / 6 / 4 * 3;
      }
    }

    @media (min-width: 1920px) {
      .snapshot {
        width: (100 - 7 * 2 * @thumbnail-margin) / 7;
        height: (100 - 7 * 2 * @thumbnail-margin) / 7 / 4 * 3;
      }
    }

    @media (min-width: 2560px) {
      .snapshot {
        width: (100 - 8 * 2 * @thumbnail-margin) / 8;
        height: (100 - 8 * 2 * @thumbnail-margin) / 8 / 4 * 3;
      }
    }
  }

  .notes {
    .transition;

    display: block;

    position: fixed;
    top: @header-height;
    left: auto;
    right: 0;
    bottom: 0;

    margin: auto;
    width: 220px;

    background-color: #FFF;

    &.shown {
      opacity: 0;
    }

    &.fadeIn {
      opacity: 1;
    }

    @media (min-width: 800px) {
      & {
        width: 320px;
      }
    }

    @media (min-width: 1280px) {
      & {
        width: 420px;
      }
    }

    .create {
      position: absolute;
      bottom: 10px;
      padding: 10px;
      width: 100%;
      background-color: white;

      label {
        display: block;
        line-height: 20px;
        margin-bottom: 10px;
      }

      textarea {
        width: 100%;
        height: 140px;
        padding: 5px;
        line-height: 20px;
        border-radius: 3px;
        border: 1px solid #C9E7F1;
      }

      a {
        .transition;

        display: block;
        margin-top: 5px;
        padding: 0 30px;
        font-size: 14px;
        color: #3b545c;
        line-height: 35px;
        border-radius: 3px;
        color: white;
        background-color: #FF5A4B;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          color: white;
          background-color: #FF5A4B;
        }
      }
    }

    .notes-window {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 210px;
      width: 100%;
      overflow: scroll;

      .notes-wrap {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        // bottom: 0;
        margin: auto;
        padding: 10px 10px 0 10px;

        .note {
          display: block;
          margin-bottom: 5px;
          padding: 15px 0;
          min-height: 120px;
          line-height: 25px;
          border-top: 1px solid #C9E7F1;

          .username {
            display: block;
            color: #FF5A4B;
            text-transform: uppercase;
            font-size: 18px;
          }

          .timestamp {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            .time:before {
              content: '@';
              padding: 0 3px;
            }
          }

          .content {
            display: block;
            margin-top: 10px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
