

@login-width: 300px;

@login-background: #C9E7F1;
@login-background2: #77C4DB;
@login-color: white;
@login-margin: 12px;
@button-color: #FF5A4B;

#login-container {
  .full-width;
  .full-height;
  .hidden;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;

  .gradient(left top, @login-background, @login-background2);

  color: @login-color;

  text-align: center;

  .login-window {
    .transition(.75s);

    position: absolute;
    width: @login-width;
    height: 280px;

    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
    opacity: 0;

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transform-style: preserve-3d;

    div {
      margin-bottom: @login-margin;
    }

    .brand {
      display: block;
      font-size: 46px;
      margin-bottom: @login-margin;
    }

    .title {
      display: block;
      margin-bottom: @login-margin * 2;
      .default-font (@arg: 24px);
      text-transform: uppercase;
      color: white;
    }
  }

  &.shown {

    .login-window {
      opacity: 1;
      transform: translate3d(0, 50px, 0);
    }
  }

  input {
    display: block;
    width: 100%;
    padding: 10px;
    .default-font (@arg: 18px);
    color: #3b545c;
    background: #fff;
    border-radius: 3px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;

    text-align: right;
    .default-font (@arg: 18px);
    color: @login-color;
    text-transform: uppercase;

    background: @button-color;
    border-radius: 3px;

    .transition(.3s);

    &:hover {
      background: darken(@button-color, 5%);
    }

    &:disabled {
      cursor: text;
      opacity: .3;
    }
  }
}
