

#message-container {
  .full-width;
  .transition;

  position: fixed;
  top: 0;
  height: 50px;
  line-height: 50px;

  background: #C9E7F1;
  color: #FFF;

  text-align: center;

  a {
    display: inline-block;
    position: absolute;
    width: 25px;
    color: white;
    right: 20px;

    &:hover {
      color: #FF5A4B;
    }
  }

  &.shown {
    top: 50px;
  }
}
