

@message-height: 50px;

#message-container {
  .full-width;
  .transition;

  position: fixed;
  top: -@message-height;
  height: @message-height;
  line-height: @message-height;
  z-index: 50;
  background: #77C4DB;
  color: #FFF;

  text-align: center;

  .success {
    background-color: #5cb85c;
  }

  .error {
    background-color: #d9534f;
  }

  .warning {
    background-color: #f0ad4e;
  }

  a {
    display: inline-block;
    position: absolute;
    width: 25px;
    color: white;
    right: 20px;

    &:hover {
      color: #FF5A4B;
    }
  }

  &.shown {
    transform: translate3d(0, @message-height, 0);
  }
}
