

#timeline-container {
  .hidden;

  padding: 10px;
  margin: 0 auto;

  .timeline {
    width: 100%;

    .incident {
      height: 150px;
      background-color: #eee;
      margin-bottom: 10px;
    }
  }
}
