
@incident-width: 600px;
@cover-width: 150px;
@margin: 10px;

#timeline-container {
  .hidden;

  padding: 100px 0 50px 0;
  margin: 0px auto;
  position: relative;
  background: #E4F3F8;

  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform-style: preserve-3d;

  &.blur {
    .transition(.5s);
    .blur(1px);
  }

  .timeline {
    margin: 0 auto;
    max-width: 100%;

    .incident {
      margin-top: 0;
      margin-bottom: 3px;
      height: 150px;
      border-radius: 5px;
      overflow: hidden;

      background-color: #FFF;
      cursor: pointer;

      .transition(.5s);
      opacity: 1;

      &.opacity {
        margin-top: 10px;
        opacity: 0;
      }

      &:hover {
        background-color: #FFF;
      }

      .cover {
        display: inline-block;
        margin-right: @margin;
        float: left;
        width: @cover-width;
        height: @cover-width;

        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
      }

      .address {
        display: inline-block;
        width: @incident-width - @cover-width - 2 * @margin;
        margin-top: 7px;
        .default-font(18px);
        color: #FF5A4B;
        line-height: 23px;
      }

      .owner {
        margin-top: 5px;
        display: inline-block;
        width: @incident-width - @cover-width - 2 * @margin;
        height: 80px;
      }

      .timestamp {
        display: inline-block;
        margin-right: 10px;
        float: right;
        word-spacing: 2px;
        .default-font(14px);
        line-height: 20px;
        .time:before {
          content: '@';
          padding: 0 3px;
        }
      }

      .action {
        display: inline-block;


        &:before {
          display: inline-block;
          min-width: 100px;
          line-height: 20px;
          .default-font(12px);
          border-radius: 2px;
          text-align: center;
          text-transform: uppercase;
          color: #FFF;
        }

        &.CALL_OWNER {

          &:before {
            content: 'Call Owner';
            background-color: #FF5A4B;
          }
        }

        &.CALL_POLICE {

          &:before {
            content: 'Call Police';
            background-color: #FF5A4B;
          }
        }

        &.CALLING_OWNER {

          &:before {
            content: 'Calling Owner';
            background-color: #77C4DB;
          }
        }

        &.CALLING_POLICE {

          &:before {
            content: 'Calling Police';
            background-color: #77C4DB;
          }
        }

        &.CALLED_POLICE {

          &:before {
            content: 'Called Police';
            background-color: #77C4DB;
          }
        }

        &.CALLED_OWNER {

          &:before {
            content: 'Called Owner';
            background-color: #77C4DB;
          }
        }
      }
    }
  }

  @media (min-width: 600px) {
    .timeline {
      width: 600px;

      .incident {
        margin-bottom: 10px;
      }
    }
  }
}
