<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cammy IRC - New Incident</title>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body>

  <div id="report-container" class="report-container">
    <div class="title">
      Cammy IRC
    </div>
    <h2>New Incident</h2>
    <div class="detail-summary">
      <div class="detail-item" ><label>Received At:</label><span class="main-item"><%= created_at %></span></div>
      <div class="detail-item" ><label>Action:</label><span class="main-item"><%= action %></span></div>
    </div>
  </div>
</body>
</html>
